* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
button {
  border-width: 0px;
}
p,
h2 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.calculator-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.calculator {
  display: inline-block;
  margin: auto;
}

/* Calculator Menu Start */
.calculator-header .calculator-menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.calculator-header .calculator-menu .btn-menu-navigation {
  position: relative;
  width: 30px;
  height: 30px;
}
.calculator-header .calculator-menu .btn-menu-navigation span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}

.calculator-menu .btn-menu-navigation span.btn-icon-onhide {
  opacity: 1;
}
.calculator-menu .btn-menu-navigation span.btn-icon-onshow {
  opacity: 0;
}
.calculator-menu.show-menu .btn-menu-navigation span.btn-icon-onhide {
  opacity: 0;
}
.calculator-menu.show-menu .btn-menu-navigation span.btn-icon-onshow {
  opacity: 1;
}
.calculator-header .calculator-menu .menu-navigation-list-container {
  position: absolute;
  width: 100%;
  top: -100vh;
  left: 0;
  z-index: 10;
}

.calculator-menu.show-menu .menu-navigation-list {
  transform: translateY(calc(100vh + 40px));
  transition: transform 0.3s ease-in-out;
}
.calculator-header .calculator-menu .menu-navigation-list > li > a {
  width: 100%;
  display: inline-block;
  padding: 2px 10px;
}

.has-sub-menu {
  position: relative;
}
.has-sub-menu.show-sub-menu > a:after {
  content: "▲";
}
.has-sub-menu > a:after {
  content: "▼";
  position: absolute;
  right: 10px;
}

.has-sub-menu .sub-menu {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  top: -100px;
  transition: transform 0.3s ease-in-out;
}
.has-sub-menu.show-sub-menu .sub-menu {
  height: auto;
  transform: translateY(124px);
}
.has-sub-menu .sub-menu > li {
  margin-left: 20px;
}

.has-sub-menu .sub-menu > li:last-child {
  margin-left: 0px;
}

.has-sub-menu .sub-menu > li:last-child > a {
  padding-left: 30px;
}
.has-sub-menu .sub-menu > li > a {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 2px 10px;
}

span.theme-selector-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  margin-right: 10px;
}
.has-sub-menu .sub-menu .btn-save-theme {
}
.sub-menu {
}
.btn-save-theme.theme-saved {
  position: relative;
}
.btn-save-theme.theme-saved:after {
  position: absolute;
  right: 10px;
}
/* Calculator Menu end */

/* Calculator Display Start */
.calculator-header .calc-history-display-container {
  position: relative;
}
.calculator-header .calc-history-display-container .history-expand-toggler {
  position: absolute;
  left: 3px;
}
.calculator-header
  .calc-history-display-container
  .history-expand-toggler:focus {
  outline-width: 0;
  border-width: 0;
}
.history-expand-toggler .toggle-icon {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
.toggle-icon.toggle-icon-show {
  opacity: 1;
}
.toggle-icon.toggle-icon-hide {
  opacity: 0;
}
.show-full-history .toggle-icon.toggle-icon-show {
  opacity: 0;
}
.show-full-history .toggle-icon.toggle-icon-hide {
  opacity: 1;
}

.calculator-header .calc-latest-history-display {
  height: 13px;
  padding: 0.5px 3px;
  padding-left: 20px;
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  overflow-x: auto;
}

.calculator-header .calc-history-display ul {
  overflow: auto;
  height: 200px;
}
.calculator-header .calc-history-display {
  height: 200px;
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  top: -100vh;
}

.show-full-history .calc-history-display ul {
  transform: translateY(calc(100vh + 13px));
  height: 200px;
  transition: transform 0.5s ease-in-out;
  border-radius: 0px 0px 3px 3px;
  width: 100%;
  padding: 5px 0px;
}
.show-full-history .calc-history-display ul li {
  padding: 0px 10px;
}
.calculator-header .calc-display {
  max-width: 250px;
  max-height: 85px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/* End of Calculator Display */

.calculator-body {
  display: grid;
  grid-template-columns: auto;
}

button.calc-btn {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 10px;
}
.calculator-body .calc-basic-operators > div > button.calc-btn {
  display: block;
}
