.calculator-header .calculator-menu .btn-menu-navigation span {
  font-weight: 700;
}
.calculator-header .calculator-menu .btn-menu-navigation {
  background: transparent;
}

.calculator-header .calc-history-display-container .history-expand-toggler {
  background: transparent;
}
/* Default Theme */
.default-theme button.calc-btn {
  color: #000000;
  box-shadow: 1px 1px 4px 0.1px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.default-theme button.calc-btn:not(.btn-numeric-element) {
  color: #006ff1;
}

.default-theme .calculator-header .calc-latest-history-display,
.default-theme .calculator-header .calc-history-display ul,
.default-theme .calculator-menu .menu-navigation-list {
  background-color: #e9eef4;
}
.default-theme .show-full-history .calc-history-display ul {
  box-shadow: 2px 2px 1px 0.1px rgba(0, 0, 0, 0.1);
}

.default-theme .show-full-history .calc-history-display ul > li:nth-child(odd) {
  background-color: #bdccdf;
}

.default-theme .has-sub-menu .sub-menu {
  background: #cbd3dd;
}

.default-theme .has-sub-menu .sub-menu .btn-save-theme {
  color: #ffffff;
  background: #006ff1;
}
.default-theme .calculator-menu.show-menu .menu-navigation-list {
  box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 0.1);
}
.default-theme .has-sub-menu .sub-menu {
  box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 0.1);
}

span.theme-selector-indicator.theme-light {
  border-color: #00152c;
}
span.theme-selector-indicator.active {
  background-color: #006ff1;
  border-color: #006ff1;
  box-shadow: 0px 0px 10px 0.1px #006ff1;
}

.btn-save-theme.theme-saved {
  background: #0aab89 !important;
  transition: background 0.5s ease-in-out;
}

/* Dark Theme */
body.dark-theme {
  background: #374353;
}

.dark-theme .calculator-header .calc-display {
  color: #ffffff;
}
.dark-theme button.calc-btn {
  color: #ffffff;
  box-shadow: -1px -1px 4px 0.1px rgba(245, 245, 245, 0.1),
    1px 1px 4px 0.1px rgba(0, 0, 0, 0.2);
  background: #374353;
}

.dark-theme button.calc-btn:not(.btn-numeric-element) {
  color: #9a9fa3;
}

.dark-theme .calculator-header .calc-latest-history-display,
.dark-theme .calculator-header .calc-history-display ul,
.dark-theme .calculator-menu .menu-navigation-list {
  background-color: #9a9fa3;
}
.dark-theme .show-full-history .calc-history-display ul {
  box-shadow: 2px 2px 1px 0.1px rgba(0, 0, 0, 0.1);
}

.dark-theme .show-full-history .calc-history-display ul > li:nth-child(odd) {
  background-color: #bdccdf;
}

.dark-theme .has-sub-menu .sub-menu {
  background: #cbd3dd;
}

.dark-theme .has-sub-menu .sub-menu .btn-save-theme {
  color: #ffffff;
  background: #006ff1;
}
.dark-theme .calculator-menu.show-menu .menu-navigation-list {
  box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 0.1);
}
.dark-theme .has-sub-menu .sub-menu {
  box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 0.1);
}

.dark-theme .menu-branding {
  color: #e9eef4;
}

.dark-theme .btn-menu-navigation {
  color: #e9eef4;
}
